[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
aldryn-apphook-reload = ">=0.2.2"
coverage = ">=3.7.1"
django-appconf = "*"
djangocms-helper = ">=0.9.1"
django-filer = "*"
djangocms-text-ckeditor = "*"
html5lib = "*"
flake8 = "*"
django-polymorphic = "*"
django-cms = "*"
djangocms-attributes-field = "*"
django = "*"
tox = "*"

[requires]
python_version = "3.7"
