{% load i18n sekizai_tags cmsplugin_filer_js_tmp %}

<div id="video-plugin-{{ object.id }}">
  <video width="{{ object.get_width }}" 
        height="{{ object.get_height }}" 
        {% if object.controls %}controls{% endif %} 
        {% if object.auto_play %}autoplay{% endif %}
        {% if object.loop %}loop{% endif %}
        {% if object.muted %}muted{% endif %}
        {% if object.image %}poster="{{ object.image }}"{% endif %}
        preload="{{ object.preload }}" >
    <source src="{{ object.get_movie }}" {% if object.get_file_extension %}type="video/{{ object.get_file_extension }}"{% endif %}>
  </video>
</div>
