{% load i18n sekizai_tags cmsplugin_filer_js_tmp %}

<div id="video-plugin-{{ object.id }}">
  {% if object.movie %}
  <video style="width:{{ object.get_width }}{{ object.width_units }}; height:{{ object.get_height }}{{ object.height_units }};" 
        {% if object.controls %}controls{% endif %} 
        {% if object.auto_play %}autoplay{% endif %}
        {% if object.loop %}loop{% endif %}
        {% if object.muted %}muted{% endif %}
        {% if object.image %}poster="{{ object.image }}"{% endif %}
        preload="{{ object.preload }}" >
    <source src="{{ object.get_movie }}" {% if object.get_file_extension %}type="video/{{ object.get_file_extension }}"{% endif %}>
  </video>
  {% elif object.movie_url %}
  <iframe style="width:{{ object.get_width }}{{ object.width_units }}; height:{{ object.get_height }}{{ object.height_units }};"
          src="{{ object.movie_url }}?autoplay={{ object.auto_play|yesno:'1,0' }}&controls={{ object.controls|yesno:'1,0' }}&loop={{ object.loop|yesno:'1,0' }}" 
          frameborder="0" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
  </iframe>
  {% endif %}
</div>